a{
    text-decoration: none;
}

.css-mdyg66-MuiModal-root-MuiDrawer-root .MuiDrawer-paper, .css-q3bifl{
    background-color: black;
    box-shadow: none !important;
}

.css-q3bifl{
    background-color: black;
}

.css-5o9at3 .MuiDrawer-paper{
    background-color: black;
}

.logo{
    width: 50px;
}

.css-93hrkz-MuiPaper-root-MuiAppBar-root{
    background-color: black !important;
}

.css-9sors8-MuiButtonBase-root-MuiIconButton-root{
    color: white !important;
}